h1 {
    font-family: Times New Roman;
}

.img1 {
    width: 200px;

}

.img2 {
    width: 600px;

}

.artists {
    width: 185px;

}

.side {
    width: 240px;

}

.footer {
    text-align: center;
}